<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
										http://www.springframework.org/schema/beans/spring-beans.xsd
										http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	<!-- 配置一些cxf的核心bean -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<!-- 终端：发布webservice(将SEI的实现类对象与web service所提供的网络地址关联) -->
	<jaxws:endpoint id="mailService"
		implementor="com.wondersgroup.mail.ws.impl.MailWebServiceImpl" 
		address="/mail/mailService" />
		
		
		
	
</beans>